# 추천시스템 드가자~~
***

## 더 늦기 전에 생각날 때 바로 공부하자 

### 1. 추천시스템


2019년 2학기 수업에서 캡스톤 디자인(추천시스템)을 수강하였다. 당시에는 추천시스템에 대해 전반적인 이해가 없이 휩쓸려 공부를 하였다. 하지만 그 짧은 한학기짜리 수업에서도 추천시스템이 가지는 상당한 매력과 잠재력이 흥미를 끌었다. 이후 2년이 지나가지만 수단은 추천시스템이지만 딥러닝을 포함한 머신러닝의 모든 요소들이 존재하는 추천시스템에 대해서 밑바닥부터 뜯어보고자 한다.

그럼 한번 드가보자.

추천시스템은 과거 Apriori 알고리즘부터 최근의 Deep Learning을 활용한 알고리즘까지 엄청난 발전과 성과를 이루었다. 

처음 시작하는 마음으로 간단하게 추천 시스템의 유형부터 살펴보자.

추천시스템은 크게 두 가지 유형으로 나누어진다.

1. 콘텐츠 기반 필터링

2. 협업 필터링 방식

이 때 협업 필터링은 다시 **최근접 이웃 방식**과 **잠재 요인 협업 방식**으로 나뉜다.

### 콘텐츠 기반 필터링

먼저 콘텐츠 기반 필터링을 보자. 콘텐츠 기반 필터링은 말그대로 사용자가 구매한 아이템과 가장 유사한 아이템을 필터링하여 추천해주는 방법이다. 예를 들어 도서의 경우는 장르, 작가, 책 내용 등이 아이템의 정보가 될 수 있다. 이렇듯 아이템에 관련된 정보로부터 다른 아이템과의 유사성을 고려하여 가장 유사한 아이템을 추천해주는 것이 콘텐츠 기반 필터링이다.

### 최근접 이웃 협업 필터링

최근접 이웃 협업 필터링은 사용자와 비슷한 구매 패턴을 가진 다른 사용자들의 구매 패턴을 활용해 아직 구매하지 않은 아이템에 대해 예측한 후 추천하는 방식이다. 예를 들어 액션 영화를 좋아하는 A유저와 비슷한 영화 취향을 가진 유저들을 탐색해 그 중에서 A유저가 아직 보지 않은 영화에 대해 예측하여 추천해주는 방식이다.

최근접 이웃 협업 필터링은 **사용자 기반**과 **아이템 기반** 두가지로 다시 나누어진다.

1. 사용자 기반 : 유사 유저의 아이템 구매 목록 활용

2. 아이템 기반 : 해당 아이템 구매 유저들의 다른 구매 아이템 추천

### 잠재 요인 협업 필터링

행렬 분해 기법을 이용하는 것으로 '잠재 요인' 추출을 위해 원본 데이터를 행렬 분해한다. 이전에 Netflix 추천 시스템 대회에서 우승팀이 사용한 기법이다. 

실제로 해보자.

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from ast import literal_eval
from sklearn.metrics.pairwise import linear_kernel

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [5]:
movies = movies[['title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']]

In [6]:
movies.head(3)

,title,genres,vote_average,vote_count,popularity,keywords,overview
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...

In [7]:
movies['genres'] = movies['genres'].apply(literal_eval)
movies['keywords'] = movies['keywords'].apply(literal_eval)

In [8]:
movies['genres'] = movies['genres'].apply(lambda x : [y['name'] for y in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [y['name'] for y in x])

장르와 키워드를 중심으로 추천해보자

In [9]:
movies['genre+keywords'] = movies['genres'] + movies['keywords']

In [10]:
movies['len_content'] = [len(x) for x in movies['genre+keywords']]

In [11]:
movies = movies.loc[movies.len_content != 0]

In [12]:
tfidf = TfidfVectorizer(stop_words='english', lowercase= False, max_features = 5000, ngram_range = (1,2))

In [13]:
tfidf_matrix = tfidf.fit_transform(movies['genre+keywords'].astype('str'))

In [14]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [15]:
def recommend_top_5_movies(x) :
    title_idx = movies.loc[movies.title == x].index[0]
    sim_idx = cosine_sim[title_idx]
    top_5_idx = np.argsort(sim_idx)[-7:-1][::-1]
    rec_movies = movies[['title', 'vote_average']].iloc[top_5_idx]
    
    return rec_movies

In [16]:
recommend_top_5_movies('Deadpool')

                    title  vote_average
182               Ant-Man           7.0
126  Thor: The Dark World           6.8
511                 X-Men           6.8
79             Iron Man 2           6.6
16           The Avengers           7.4
203                    X2           6.8

'데드풀'과 유사한 영화는 '앤트맨', '엑스맨', '아이언맨' 등이 있다. 뭐 나쁘지 않은 결과인듯?

영화 내용만 가지고 추천해보자.

In [17]:
tfidf_matrix = tfidf.fit_transform(movies['overview'].astype('str'))

In [18]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [19]:
recommend_top_5_movies('Begin Again')

                    title  vote_average
3983        Hustle & Flow           6.9
4285          Filly Brown           5.9
3243          Brown Sugar           7.0
2252              Marci X           3.3
3241       You Got Served           4.8
4606  Tupac: Resurrection           8.0

전혀 다른 결과가 나온 것을 알 수 있다. 실제로 내용이 어떤지 한 번 살펴보자.

In [20]:
movies.loc[movies.title == 'Begin Again'].overview.values[0]

"Gretta's celebrity boyfriend breaks up with her after a long-term relationship, leaving the singer to find success on her own. With the help of record producer, Dan and hip-hop celebrity, Trouble Gum, Gretta strives to fulfil her musical ambitions."

In [21]:
movies.loc[movies.title == 'Walk Hard: The Dewey Cox Story'].overview.values[0]

'Singer Dewey Cox overcomes adversity to become a musical legend.'

내용 + 장르 + 키워드 다 때려 넣어보자

In [22]:
movies['total_input'] = movies['genre+keywords'] + movies.overview.str.split(' ')

In [23]:
tfidf_matrix = tfidf.fit_transform(movies['total_input'].astype('str'))

In [24]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [25]:
recommend_top_5_movies('Die Hard: With a Vengeance')

                      title  vote_average
1702               Die Hard           7.5
261   Live Free or Die Hard           6.4
573              Die Hard 2           6.6
615             Money Train           5.4
519          Now You See Me           7.3
478                Daylight           5.8

확실히 사용 가능한 정보를 모두 사용하는게 더 좋은 것 같다. 하지만 콘텐츠 기반은 언제까지나 한계가 존재한다.

당장 이 데이터셋에서는 예를 들면 이런식이다. 유사성은 상당히 높지만 재미가 없거나 사람들이 잘 모르는 영화거나 한다면 사실 추천의 의미가 퇴색될 것 같다. 극단적으로 나는 마블과 같은 스타일의 영화를 좋아하는데 단순히 내용과 장르의 유사성 때문에 인기도 없고 재미없는 영화가 추천된다면 유저 관점에서 괜찮을지 한 번 생각해보게 된다.

이러한 문제를 해결하기 위해 IMDB 홈페이지에서는 평가 횟수에 대한 가중치 적용 평점 방식을 사용한다. 

### 가중치 적용 평점 = (v / (v + m)) * R + (m / (v + m)) * C

- v = 각 영화의 투표 수

- m = 평점 적용을 위한 최소 투표 수

- R = 각 영화의 평균 평점

- C = 전체 영화의 평균 평점

In [47]:
C = movies.vote_average.mean() # 전체 평균 평점
m = movies.vote_count.quantile(0.6) # 전체 투표 횟수 중 상위 70%

In [48]:
print(f'C = {round(C, 3)} m = {m}')

C = 6.113 m = 373.0

In [49]:
def weighted_rating(x) :
    v = x.vote_count
    R = x.vote_average
    
    return (v / (v + m)) * R + (m / (v + m)) * C

In [50]:
movies['w_r'] = movies.apply(weighted_rating, axis = 1)

In [93]:
def recommend_top_10_by_wr(x) :
    
    title_idx = movies.loc[movies.title == x].index[0]
    sim_idx = cosine_sim[title_idx]
    top_30_idx = np.argsort(sim_idx)[-32:-1][::-1]
    rec_movies = movies.iloc[top_30_idx][['title', 'vote_average', 'w_r']].sort_values(by = 'w_r', ascending = False)[:10]
    
    return rec_movies

In [97]:
recommend_top_10_by_wr('Inception')

                                   title  vote_average       w_r
134   Mission: Impossible - Rogue Nation           7.1  6.997651
1506                         Source Code           7.1  6.980159
275                      Minority Report           7.1  6.976501
2515      Crouching Tiger, Hidden Dragon           7.2  6.888115
2625                 Kiss Kiss Bang Bang           7.2  6.877958
1136                                Hero           7.2  6.797767
1193           The Count of Monte Cristo           7.3  6.763982
4639                                Cube           6.9  6.696428
1683                     Pitch Perfect 2           6.8  6.689213
1967                     The Fisher King           7.2  6.632141