In [ ]:
def get_setting() :
    !apt-get install openjdk-8-jdk-headless
    !wget -q https://mirror.navercorp.com/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
    !tar -xvf spark-3.1.2-bin-hadoop3.2.tgz
    !pip install findspark
    import os
    os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
    os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"
    import findspark
    findspark.init()

In [ ]:
get_setting()

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
data = pd.DataFrame({'INDEX' : [0 ,1, 2, 3],
                     'CSNO' : ['A300', 'B852', 'C180', 'D596'],
                     'RELEVANCE' : [[9, 8, 5, 2], [5, 1, 7, 2], [4, 7, 3, 8], [6, 3, 1, 7]],
                     'MODEL' : ['DL', 'ML', 'DL', 'DL']})

In [ ]:
df = spark.createDataFrame(data)

In [ ]:
df.show()

+-----+----+------------+-----+
|INDEX|CSNO|   RELEVANCE|MODEL|
+-----+----+------------+-----+
|    0|A300|[9, 8, 5, 2]|   DL|
|    1|B852|[5, 1, 7, 2]|   ML|
|    2|C180|[4, 7, 3, 8]|   DL|
|    3|D596|[6, 3, 1, 7]|   DL|
+-----+----+------------+-----+

In [ ]:
df.CSNO

Column<'CSNO'>

.뒤에 컬럼명을 호출하면 pandas와 달리 컬럼명이 출력된다.

In [ ]:
df.select(df.CSNO)

DataFrame[CSNO: string]

pandas의 인덱싱 처럼 특정 column을 지정하려면 spark는 select를 활용해야 한다.

In [ ]:
df.select(df.CSNO).show()

+----+
|CSNO|
+----+
|A300|
|B852|
|C180|
|D596|
+----+

다중 컬럼 또한 ,로 연결하여 지정할 수 있다.

In [ ]:
df.select(df.CSNO, df.MODEL)

DataFrame[CSNO: string, MODEL: string]

In [ ]:
df.select(df.CSNO, df.MODEL).show()

+----+-----+
|CSNO|MODEL|
+----+-----+
|A300|   DL|
|B852|   ML|
|C180|   DL|
|D596|   DL|
+----+-----+

또한, col 기능을 이용하여 column명만 지정하여 특정 column을 지정할 수 있다.

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df.select(col('CSNO'), col('RELEVANCE'))

DataFrame[CSNO: string, RELEVANCE: array<bigint>]

In [ ]:
df.select(col('CSNO'), col('RELEVANCE')).show()

+----+------------+
|CSNO|   RELEVANCE|
+----+------------+
|A300|[9, 8, 5, 2]|
|B852|[5, 1, 7, 2]|
|C180|[4, 7, 3, 8]|
|D596|[6, 3, 1, 7]|
+----+------------+

In [ ]:
import numpy as np

In [ ]:
def my_func(x) :
    return x + 1

특정 컬럼에 function을 적용하여 column을 추출할 수도 있다.

In [ ]:
df.select(my_func(col('INDEX')), col('CSNO')).show()

+-----------+----+
|(INDEX + 1)|CSNO|
+-----------+----+
|          1|A300|
|          2|B852|
|          3|C180|
|          4|D596|
+-----------+----+