In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({'A' : [1, 2, 3],
                   'B' : [10.5, 23.8, 74.9],
                   'C' : ['apple', 'orange', 'banana']})

In [3]:
spark = SparkSession.builder.getOrCreate()

In [18]:
df = spark.createDataFrame(data)

In [19]:
df.show()

+---+----+------+
|  A|   B|     C|
+---+----+------+
|  1|10.5| apple|
|  2|23.8|orange|
|  3|74.9|banana|
+---+----+------+

새로운 column을 생성해보자.

new_A라는 column은 기존의 A라는 컬럼에 있는 값에 3을 더한 값들의 집합이다.

In [6]:
df1 = df.withColumn('new_A', col('A') + 3)

In [7]:
df1.show()

+---+----+------+-----+
|  A|   B|     C|new_A|
+---+----+------+-----+
|  1|10.5| apple|    4|
|  2|23.8|orange|    5|
|  3|74.9|banana|    6|
+---+----+------+-----+

커스텀 함수를 적용할 수도 있다.

In [9]:
def get_new_col(x) :
    return x ** 0.5

In [10]:
df2 = df.withColumn('new_C', get_new_col(col('B')))

In [11]:
df2.show()

+---+----+------+-----------------+
|  A|   B|     C|            new_C|
+---+----+------+-----------------+
|  1|10.5| apple| 3.24037034920393|
|  2|23.8|orange|4.878524367060187|
|  3|74.9|banana|8.654478609367523|
+---+----+------+-----------------+

In [15]:
df3 = df.filter(col('C') == 'banana')
df3.show()

+---+----+------+
|  A|   B|     C|
+---+----+------+
|  3|74.9|banana|
+---+----+------+

In [20]:
cols = df.columns

In [21]:
cols

['A', 'B', 'C']

In [24]:
df.select(cols[0]).show()

+---+
|  A|
+---+
|  1|
|  2|
|  3|
+---+