# 8주차 모의고사 1회

## 1번 문제
- wine_train / wine_test / wine_submission

### 1-1. total sulfur dioxide에 대해 정규화를 실시하고 0.4 초과 0.55미만의 결과값을 가지는 데이터의 수를 출력하시오.

In [21]:
import pandas as pd
import numpy as np

In [112]:
train = pd.read_csv('wine_train.csv')
test = pd.read_csv('wine_test.csv')
submission = pd.read_csv('wine_submission.csv')

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quality               5497 non-null   int64
 1   fixed acidity         5497 non-null   float64
 2   volatile acidity      5497 non-null   float64
 3   citric acid           5497 non-null   float64
 4   residual sugar        5497 non-null   float64
 5   chlorides             5497 non-null   float64
 6   free sulfur dioxide   5497 non-null   float64
 7   total sulfur dioxide  5497 non-null   float64
 8   density               5497 non-null   float64
 9   pH                    5497 non-null   float64
 10  sulphates             5497 non-null   float64
 11  alcohol               5497 non-null   float64
 12  type                  5497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 558.4+ KB

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
ms = MinMaxScaler()

In [26]:
train['ms'] = ms.fit_transform(train[['total sulfur dioxide']])

In [27]:
train.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,ms
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white,0.179724
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red,0.082949
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white,0.304147
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white,0.235023
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white,0.396313

#### 방법1

In [29]:
print(train[(train.ms > 0.4) & (train.ms < 0.55)].shape[0])

691

#### 방법2

In [31]:
print(train.query('ms > 0.4 & ms < 0.55').shape[0])

691

### 1-2. alcohol과 가장 강한 상관관계를 가지는 변수(alcohol제외)와 그 상관계수를 출력하시오.

In [43]:
train.corr()['alcohol']

quality                 0.439615
fixed acidity          -0.096274
volatile acidity       -0.032897
citric acid            -0.005376
residual sugar         -0.361457
chlorides              -0.259774
free sulfur dioxide    -0.182321
total sulfur dioxide   -0.271566
density                -0.688053
pH                      0.114959
sulphates              -0.008713
alcohol                 1.000000
ms                     -0.271566
Name: alcohol, dtype: float64

In [41]:
feature_name = abs(train.corr()['alcohol']).sort_values().index[-2]
cor_value = abs(train.corr()['alcohol']).sort_values()[-2]

In [42]:
print(feature_name, cor_value)

density 0.6880527353336923

### 1-3. 변수별 왜도 최대값과 첨도 최대값을 곱한 값을 출력하시오. (단, 소수 넷째자리에서 반올림 하시오.)

In [45]:
train.drop('ms', axis = 1, inplace = True)

In [48]:
max_skew = train.skew().sort_values()[-1]

In [49]:
max_kurt = train.kurt().sort_values()[-1]

In [50]:
max_skew, max_kurt

(5.187326841371147, 45.98622081640241)

In [53]:
result = round(max_skew * max_kurt, 3)

In [54]:
print(result)

238.546

### 1-4. quality를 예측하는 모델링을 수행하시오. 각 클래스별 예측 확률을 아래 예시와 같이 도출하고 submission을 result1이라는 파일명으로 저장하시오.

< 예시 >

|index|3|4|5|6|7|8|9|
|---|---|---|---|---|---|---|---|
|1|0.3|0.1|0.1|0.1|0.1|0.25|0.05|
|2|0.25|0.1|0.1|0.1|0.3|0.1|0.05|
|3|0.15|0.1|0.1|0.1|0.1|0.05|0.4|

### Hold Out

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [57]:
train.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [113]:
X = train.drop('quality', axis = 1)
y = train.quality

In [114]:
X = pd.get_dummies(X)
target = pd.get_dummies(test)

In [61]:
X.shape, target.shape

((5497, 13), (1000, 13))

In [62]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.25, random_state = 42, stratify = y, shuffle = True)

In [67]:
model1 = SVC(probability = True)
model2 = RandomForestClassifier(random_state = 42)

In [68]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [83]:
from sklearn.metrics import log_loss, accuracy_score

이진분류 문제라고 가정할 때

- 정확도 : 0 -> 51% / 1 -> 49%로 예측하는 경우
- log_loss : 0 -> 90% / 1 -> 10%로 예측하는 경우

In [84]:
pred1 = model1.predict_proba(X_val)
pred2 = model2.predict_proba(X_val)

In [86]:
a = [3, 6, 100, 20, 4]

In [87]:
np.argmax(a)

2

In [91]:
cls1 = np.argmax(pred1, axis = 1)

In [98]:
cls2 = np.argmax(pred2, axis = 1)

In [96]:
y_val -= 3

In [97]:
accuracy_score(y_val, cls1)

0.47709090909090907

In [99]:
accuracy_score(y_val, cls2)

0.6603636363636364

In [72]:
log_loss(y_val, pred1)

1.176730605735629

In [73]:
log_loss(y_val, pred2)

0.9964611053620294

In [74]:
svc_pred = model1.predict_proba(target)
rf_pred = model2.predict_proba(target)

In [79]:
submission.iloc[:, 1:] = (rf_pred + svc_pred) / 2

In [100]:
submission.head()

   index         3         4         5         6         7         8         9
0      0  0.012627  0.042009  0.364902  0.466871  0.082853  0.030514  0.000223
1      1  0.002587  0.031160  0.446484  0.472288  0.039451  0.007732  0.000298
2      2  0.011663  0.041328  0.332156  0.534634  0.069109  0.010314  0.000797
3      3  0.001877  0.040508  0.551475  0.361129  0.036893  0.007071  0.001046
4      4  0.003492  0.060555  0.144658  0.477177  0.279375  0.033741  0.001002

In [81]:
#submission.to_csv('result1.csv', index = False)

### Ensemble

In [101]:
from sklearn.model_selection import StratifiedKFold

In [102]:
skf = StratifiedKFold(n_splits = 10, random_state = 42, shuffle = True)

In [115]:
y -= 3

In [116]:
svc_pred = np.zeros((target.shape[0], 7))
for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    model1 = SVC(probability = True)
    model1.fit(tr_x, tr_y)
    
    pred1 = np.argmax(model1.predict_proba(val_x), axis = 1)
    val_acc = accuracy_score(val_y, pred1)
    print(val_acc)
    
    fold_pred = model1.predict_proba(target) / 10
    svc_pred += fold_pred

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

0.4636363636363636
0.4636363636363636
0.44545454545454544
0.43454545454545457
0.44545454545454544
0.45636363636363636
0.4309090909090909
0.4207650273224044
0.4517304189435337
0.45901639344262296

In [117]:
rf_pred = np.zeros((target.shape[0], 7))
for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    model2 = RandomForestClassifier(random_state = 42)
    model2.fit(tr_x, tr_y)
    
    pred1 = np.argmax(model2.predict_proba(val_x), axis = 1)
    val_acc = accuracy_score(val_y, pred1)
    print(val_acc)
    
    fold_pred = model2.predict_proba(target) / 10
    rf_pred += fold_pred

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

0.6563636363636364
0.6836363636363636
0.7036363636363636
0.6745454545454546
0.6781818181818182
0.6818181818181818
0.68
0.697632058287796
0.7030965391621129
0.668488160291439

In [124]:
submission.iloc[:, 1:] = rf_pred * 0.6 + svc_pred * 0.4

In [127]:
#submission.to_csv('result1.csv', index = False)

***
## 2번 문제
- apt_train / apt_test / apt_submission

### 2-1. 서울특별시와 부산광역시의 exclusive_use_area와 transaction_real_price의 상관계수 합을 구하시오.

In [167]:
train = pd.read_csv('apt_train.csv')
test = pd.read_csv('apt_test.csv')
submission = pd.read_csv('apt_submission.csv')

In [169]:
train = train.iloc[:, 3:]
test = test.iloc[:, 2:]

In [135]:
s = train[train.city == '서울특별시']
b = train[train.city == '부산광역시']

In [140]:
s_c = s[['exclusive_use_area', 'transaction_real_price']].corr().iloc[0, 1]
b_c = b[['exclusive_use_area', 'transaction_real_price']].corr().iloc[0, 1]

In [141]:
s_c, b_c

(0.6660977467865185, 0.7043428982606751)

In [142]:
print(s_c + b_c)

1.3704406450471935

### 2-2. 자이 아파트와 래미안 아파트의 transaction_real_price의 왜도 곱을 출력하시오.

In [145]:
train['래미안'] = train.apt.str.contains('래미안')
train['자이'] = train.apt.str.contains('자이')

In [147]:
x = train[train.자이 == 1]

In [150]:
r = train[train.래미안 == 1]

In [151]:
x_s = x.transaction_real_price.skew()
r_s = r.transaction_real_price.skew()

In [152]:
x_s, r_s

(1.6633803166816743, 3.200426744957116)

In [153]:
print(x_s * r_s)

5.323526852543268

### 2-3. exclusive_use_area에 대해 표준화를 실시하고 0.25 초과 0.4 이하인 데이터의 수를 구하시오.

In [156]:
from sklearn.preprocessing import StandardScaler

In [157]:
ss = StandardScaler()

In [158]:
train['ss'] = ss.fit_transform(train[['exclusive_use_area']])

In [161]:
print(train.query('ss > 0.25 & ss <= 0.4').shape[0])

111

### 2-4. transaction_real_price를 예측하는 모델링을 수행하시오. submission의 파일명을 result2로 저장하시오.

In [163]:
train.drop(['래미안', '자이', 'ss'], axis = 1, inplace = True)

In [170]:
train.head()

,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,서울특별시,잠원동,63-2,청구,잠원동 63-2 청구,84.86,1998,201106,1~10,7,94500
1,서울특별시,둔촌동,170-1,둔촌주공1단지,둔촌동 170-1 둔촌주공1단지,58.08,1980,201301,11~20,3,54700
2,서울특별시,논현동,22,신동아(22),논현동 22 신동아(22),35.73,1997,201705,21~31,3,60000
3,서울특별시,방이동,40,파라다이스빌(40-0),방이동 40 파라다이스빌(40-0),84.66,2006,201005,21~31,6,43000
4,서울특별시,암사동,509,선사현대아파트,암사동 509 선사현대아파트,72.85,2000,201211,21~30,14,39500

In [172]:
train['city'] = [1 if c == '서울특별시' else 0 for c in train['city']]
test['city'] = [1 if c == '서울특별시' else 0 for c in test['city']]

In [174]:
train['apt'] = train.apt.str.contains('자이|래미안|롯데')
test['apt'] = test.apt.str.contains('자이|래미안|롯데')

In [176]:
train.drop(['dong', 'jibun', 'addr_kr'], axis = 1, inplace = True)
test.drop(['dong', 'jibun', 'addr_kr'], axis = 1, inplace = True)

In [178]:
train.year_of_completion = 2021 - train.year_of_completion
test.year_of_completion = 2021 - test.year_of_completion

In [191]:
train['year'] = 2021 - train.transaction_year_month.astype(str).str[:4].astype(int)
test['year'] = 2021 - test.transaction_year_month.astype(str).str[:4].astype(int)

In [194]:
train.drop(['transaction_year_month', 'transaction_date'], axis = 1, inplace = True)
test.drop(['transaction_year_month', 'transaction_date'], axis = 1, inplace = True)

In [196]:
X = train.drop('transaction_real_price', axis = 1)
y = train.transaction_real_price

In [198]:
from xgboost import XGBRegressor
from sklearn.linear_model import Lasso

### Hold Out

In [199]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [200]:
model1 = Lasso()
model2 = XGBRegressor(random_state = 42)

In [201]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [202]:
from sklearn.metrics import mean_absolute_error

In [203]:
pred1 = model1.predict(X_val)
pred2 = model2.predict(X_val)

In [204]:
mae1 = mean_absolute_error(y_val, pred1)
mae2 = mean_absolute_error(y_val, pred2)

In [205]:
mae1, mae2

(13490.219409903246, 8389.627346366035)

In [207]:
ls_pred = model1.predict(test)

In [208]:
xgb_pred = model2.predict(test)

In [210]:
submission['transaction_real_price'] = 0.8 * xgb_pred + 0.2 * ls_pred

In [211]:
submission

      index  transaction_real_price
0         0            27673.117421
1         1            19704.809260
2         2            19790.711858
3         3            63025.308315
4         4            61366.142637
...     ...                     ...
5458   5458            46568.025278
5459   5459           102053.258430
5460   5460           111107.102942
5461   5461            53548.324362
5462   5462            27190.824147

[5463 rows x 2 columns]

In [212]:
#submission.to_csv('result2.csv', index = False)

### Ensemble

In [213]:
from sklearn.model_selection import KFold

In [214]:
kf = KFold(n_splits = 8, random_state = 42, shuffle = True)

In [215]:
ls_pred = np.zeros(test.shape[0])
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    model1 = Lasso()
    model1.fit(tr_x, tr_y)
    
    pred = model1.predict(val_x)
    mae = mean_absolute_error(val_y, pred)
    print(mae)
    
    fold_pred = model1.predict(test) / 8
    ls_pred += fold_pred

13604.609555566874
13231.401189780803
13475.890576291396
13432.272809162341
13568.422341213234
13540.599232956443
13553.88321864712
13705.546220488333

In [216]:
xgb_pred = np.zeros(test.shape[0])
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    model1 = XGBRegressor(random_state = 42)
    model1.fit(tr_x, tr_y)
    
    pred = model1.predict(val_x)
    mae = mean_absolute_error(val_y, pred)
    print(mae)
    
    fold_pred = model1.predict(test) / 8
    xgb_pred += fold_pred

8065.039213834635
8132.123083658854
8517.609152604167
8335.275866536458
8096.497823063151
7798.895463403321
8107.886042675781
8187.390291253662

In [217]:
submission['transaction_real_price'] = xgb_pred

In [219]:
#submission.to_csv('result2.csv', index = False)