# 빅데이터 분석기사 실기 모의고사 2회

## 다풀고 파일명에 성함 추가해서 구글드라이브 모의고사 폴더에 올려주세요~ 피드백 해드리겠습니다!!

### 각 문제에 필요한 데이터 목록입니다.
- 1번 : market_sales_train.csv / market_sales_test.csv / market_submission.csv
- 2번 : ing_reg_train.csv / ing_reg_test.csv / ing_reg_submission.csv
- 3번 : credit_train.csv / credit_test.csv / credit_submission.csv

In [2]:
import pandas as pd
import numpy as np

## 1번 문제
### 1-1. Drinks가 포함된 데이터와 Foods가 포함된 데이터의 Sales 평균 차이의 절댓값을 구하시오.

In [113]:
train = pd.read_csv('market_sales_train.csv')
test = pd.read_csv('market_sales_test.csv')

In [114]:
train.head()

,Item_ID,Item_W,Item_Type,Item_MRP,Outlet_ID,Outlet_Year,Outlet_Size,Outlet_Location_Type,Sales
0,NCA30,20.170430,Frozen Foods,120.844444,OUT013,2003,High,Tier 2,5869.131756
1,FDC33,11.982799,Snack Foods,60.264111,OUT018,1999,Small,Tier 1,4632.940715
2,FDX16,20.986453,Seafood,126.969853,OUT035,1987,Medium,Tier 3,1458.017835
3,FDR21,20.527227,Frozen Foods,117.587724,OUT013,2004,High,Tier 3,506.770015
4,FDU10,19.348810,Frozen Foods,50.235181,OUT046,2004,Small,Tier 2,1680.741132

In [115]:
sorted(train.Item_Type.unique())

['Baking Goods',
 'Breads',
 'Breakfast',
 'Canned',
 'Dairy',
 'Frozen Foods',
 'Fruits and Vegetables',
 'Hard Drinks',
 'Health and Hygiene',
 'Household',
 'Meat',
 'Others',
 'Seafood',
 'Snack Foods',
 'Soft Drinks',
 'Starchy Foods']

In [116]:
test.head()

,Item_ID,Item_W,Item_Type,Item_MRP,Outlet_ID,Outlet_Year,Outlet_Size,Outlet_Location_Type,Sales
0,FDL14,15.886901,Fruits and Vegetables,55.781817,OUT018,2009,High,Tier 3,159.511294
1,NCZ53,9.882034,Baking Goods,119.007555,OUT035,2004,Small,Tier 1,2185.740777
2,FDQ58,19.882226,Baking Goods,63.533737,OUT046,1999,Small,Tier 1,6869.656842
3,FDI15,19.910010,Meat,175.156112,OUT013,2004,High,Tier 1,1712.627669
4,FDO48,17.991399,Fruits and Vegetables,142.592302,OUT035,2004,Small,Tier 2,2190.852949

In [117]:
train.shape

(10000, 9)

In [118]:
### 행 추출 조건문에 contains 메서드 사용
drinks = train[train.Item_Type.str.contains('Drinks')]
foods = train[train.Item_Type.str.contains('Foods')]

In [119]:
drinks.shape

(993, 9)

In [120]:
foods.shape

(1801, 9)

In [121]:
dm = drinks.Sales.mean()
fm = foods.Sales.mean()

In [122]:
abs(dm - fm)

14.64527195260348

In [123]:
train[train.Item_Type.str.contains('Drinks|Foods')].groupby('Item_Type').Sales.mean()

Item_Type
Frozen Foods     1980.462945
Hard Drinks      1931.364032
Snack Foods      1946.882220
Soft Drinks      1980.533398
Starchy Foods    1892.823993
Name: Sales, dtype: float64

### 1-2. Item_W에 대해 표준화를 실시하고 0.2 초과 0.45 미만인 데이터의 수를 구하시오.

In [124]:
from sklearn.preprocessing import StandardScaler

In [125]:
scaler = StandardScaler()

In [126]:
#train['scaled_iw'] = scaler.fit(train[['Item_W']])
#train['scaled_iw'] = scaler.transform(train[['scaled_iw']])

train['scaled_iw'] = scaler.fit_transform(train[['Item_W']])

In [127]:
print(train[(train.scaled_iw > 0.2) & (train.scaled_iw < 0.45)].scaled_iw.min())
print(train[(train.scaled_iw > 0.2) & (train.scaled_iw < 0.45)].scaled_iw.max())

0.20177147188789457
0.44977220913490346

#### 정규화를 실시하고 0.2 미만 0.6초과인 데이터의 수를 구하시오.

In [128]:
from sklearn.preprocessing import MinMaxScaler

In [129]:
scaler = MinMaxScaler()

In [130]:
train['scaled_iw'] = scaler.fit_transform(train[['Item_W']])

In [131]:
train[(train['scaled_iw'] < 0.2) | (train['scaled_iw'] > 0.6)].shape[0]

7125

### 1-3. Sales를 예측하는 모델링을 수행하시오. test 파일을 활용해 submission을 만들고 result1이라는 파일명으로 저장하시오.
- 최소 2개 이상의 모델을 사용할 것.
- 1개 이상의 인코딩 방식을 사용할 것. -> 레이블 인코딩, 원-핫 인코딩 등

In [132]:
train.drop(['Item_ID', 'Outlet_ID', 'scaled_iw'], axis = 1, inplace = True)
test.drop(['Item_ID', 'Outlet_ID'], axis = 1, inplace = True)

In [133]:
train.head()

,Item_W,Item_Type,Item_MRP,Outlet_Year,Outlet_Size,Outlet_Location_Type,Sales
0,20.170430,Frozen Foods,120.844444,2003,High,Tier 2,5869.131756
1,11.982799,Snack Foods,60.264111,1999,Small,Tier 1,4632.940715
2,20.986453,Seafood,126.969853,1987,Medium,Tier 3,1458.017835
3,20.527227,Frozen Foods,117.587724,2004,High,Tier 3,506.770015
4,19.348810,Frozen Foods,50.235181,2004,Small,Tier 2,1680.741132

#### 인코딩 -> target encoding -> 모델 학습시 사용한 카테고리 값과 target 값의 정보를 동시에 활용할 수 있다. But, 과대적합 문제 발생 가능.

In [134]:
train.groupby('Outlet_Size').Sales.mean().reset_index(name = 'MEAN')

  Outlet_Size         MEAN
0        High  2048.982242
1      Medium  1790.008566
2       Small  1942.009922

In [135]:
rank_df = train.groupby('Item_Type').Sales.mean().sort_values().reset_index(name = 'rank')

In [136]:
rank_df

                Item_Type         rank
0   Fruits and Vegetables  1774.536671
1                   Dairy  1837.893671
2      Health and Hygiene  1848.849437
3                  Canned  1867.114442
4           Starchy Foods  1892.823993
5               Household  1903.834241
6                  Others  1915.604061
7             Hard Drinks  1931.364032
8                    Meat  1938.323359
9             Snack Foods  1946.882220
10           Baking Goods  1975.790991
11           Frozen Foods  1980.462945
12            Soft Drinks  1980.533398
13                 Breads  2026.796311
14                Seafood  2026.882727
15              Breakfast  2112.824947

In [137]:
rank_df['rank'] = [n for n in range(1, 17)]

In [138]:
rank_df

                Item_Type  rank
0   Fruits and Vegetables     1
1                   Dairy     2
2      Health and Hygiene     3
3                  Canned     4
4           Starchy Foods     5
5               Household     6
6                  Others     7
7             Hard Drinks     8
8                    Meat     9
9             Snack Foods    10
10           Baking Goods    11
11           Frozen Foods    12
12            Soft Drinks    13
13                 Breads    14
14                Seafood    15
15              Breakfast    16

In [139]:
train = pd.merge(train, rank_df, how = 'left')
test = pd.merge(test, rank_df, how = 'left')

In [140]:
train.drop('Item_Type', axis = 1, inplace = True)
test.drop('Item_Type', axis = 1, inplace = True)

In [142]:
### 원핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [143]:
X = train.drop('Sales', axis = 1)
y = train.Sales

target = test[X.columns]

In [62]:
X.head()

,Item_W,Item_MRP,Outlet_Year,rank,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,20.170430,120.844444,2003,12,1,0,0,0,1,0
1,11.982799,60.264111,1999,10,0,0,1,1,0,0
2,20.986453,126.969853,1987,15,0,1,0,0,0,1
3,20.527227,117.587724,2004,12,1,0,0,0,0,1
4,19.348810,50.235181,2004,12,0,0,1,0,1,0

In [63]:
target.head()

,Item_W,Item_MRP,Outlet_Year,rank,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,15.886901,55.781817,2009,1,1,0,0,0,0,1
1,9.882034,119.007555,2004,11,0,0,1,1,0,0
2,19.882226,63.533737,1999,11,0,0,1,1,0,0
3,19.910010,175.156112,2004,9,1,0,0,1,0,0
4,17.991399,142.592302,2004,1,0,0,1,0,1,0

In [64]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

### 방법1 -> 전체 Fittung

In [65]:
xgb = XGBRegressor(max_depth = 4, learning_rate = 0.15, n_estimators = 150, random_state = 42)

In [66]:
xgb.fit(X, y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.15, max_delta_step=0, max_depth=4,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=150, n_jobs=8, num_parallel_tree=1, random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [71]:
xgb_pred = xgb.predict(target)

In [72]:
xgb_pred

array([1740.7854, 1773.0155, 1903.053 , ..., 1951.94  , 1684.8906,
       2048.9817], dtype=float32)

In [69]:
rf = RandomForestRegressor(random_state = 42, max_depth = 5)

In [70]:
rf.fit(X, y)

RandomForestRegressor(max_depth=5, random_state=42)

In [73]:
rf_pred = rf.predict(target)

In [74]:
rf_pred

array([1617.10960009, 1967.67075475, 1954.76071888, ..., 2004.07655601,
       1805.23457135, 1933.82474678])

In [75]:
submission = pd.read_csv("market_submission.csv")

In [76]:
submission.head()

   index  Sales
0      0      0
1      1      0
2      2      0
3      3      0
4      4      0

In [77]:
submission['Sales'] = (xgb_pred + rf_pred) / 2

In [78]:
submission.head()

   index        Sales
0      0  1678.947500
1      1  1870.343129
2      2  1928.906849
3      3  2055.275140
4      4  1925.631641

In [ ]:
#submission.to_csv('result1.csv', index = False)

### 방법2 -> Ensemble

In [79]:
kf = KFold(n_splits = 10, random_state = 42, shuffle = True)

In [81]:
rf_pred = np.zeros(target.shape[0])
xgb_pred = np.zeros(target.shape[0])

In [82]:
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf = RandomForestRegressor(random_state = 42, max_depth = 4, n_estimators = 150)
    rf.fit(tr_x, tr_y)
    val_pred = rf.predict(val_x)
    rmse = np.sqrt(mean_squared_error(val_y, val_pred)) ### MSE의 제곱근 mean_squared_error(val_y, val_pred) ** 0.5
    print(rmse)
    
    fold_pred = rf.predict(target) / 10
    rf_pred += fold_pred

1325.833222036748
1223.6316667307547
1291.2954785967584
1301.8894988807622
1313.120117981553
1263.5565250611794
1286.5638260371597
1253.9737818802766
1246.6789536118863
1325.7618492396434

In [83]:
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb = XGBRegressor(random_state = 42, max_depth = 4, n_estimators = 200, learning_rate = 0.1)
    xgb.fit(tr_x, tr_y)
    val_pred = xgb.predict(val_x)
    rmse = np.sqrt(mean_squared_error(val_y, val_pred))
    print(rmse)
    
    fold_pred = xgb.predict(target) / 10
    xgb_pred += fold_pred

1327.7184224876933
1234.6549492609154
1307.5023606689135
1305.1775099733488
1335.3351192929774
1281.8668395332704
1296.3155707712785
1266.8253338423117
1256.9816414769334
1341.5389078648855

In [85]:
submission = pd.read_csv('market_submission.csv')

In [86]:
submission['Sales'] = (xgb_pred + rf_pred) / 2

In [87]:
submission.head()

   index        Sales
0      0  1621.052463
1      1  1884.210673
2      2  1924.204182
3      3  2068.630467
4      4  1894.826864

In [121]:
#submission.to_csv('result1.csv', index = False)

In [88]:
from sklearn.datasets import load_breast_cancer

In [89]:
data = pd.DataFrame(load_breast_cancer().data, columns = load_breast_cancer().feature_names)

In [91]:
data['target'] = load_breast_cancer().target

In [93]:
test = data.sample(69)
train = data.query('index not in @test.index')

In [95]:
from sklearn.ensemble import RandomForestClassifier

In [96]:
rf = RandomForestClassifier(random_state = 42)

In [97]:
X = train.drop('target', axis = 1)
y = train.target

target = test[X.columns]

In [98]:
rf.fit(X, y)

RandomForestClassifier(random_state=42)

In [99]:
pred = rf.predict_proba(target)[:, 1]

In [100]:
pred

array([0.99, 0.  , 0.99, 0.64, 0.89, 1.  , 0.  , 1.  , 1.  , 0.99, 0.98,
       0.84, 0.99, 0.95, 0.99, 0.93, 1.  , 0.54, 1.  , 0.94, 0.57, 0.  ,
       0.99, 0.9 , 0.21, 0.06, 0.  , 0.81, 1.  , 0.08, 0.99, 0.99, 0.01,
       0.14, 0.92, 1.  , 0.95, 1.  , 1.  , 0.87, 0.15, 0.99, 0.22, 0.69,
       0.99, 1.  , 0.97, 0.99, 0.06, 1.  , 0.98, 1.  , 0.79, 1.  , 0.99,
       1.  , 0.12, 1.  , 0.98, 0.78, 1.  , 0.9 , 1.  , 1.  , 0.93, 0.1 ,
       0.03, 0.73, 1.  ])

In [101]:
from sklearn.metrics import precision_score

In [102]:
cls1 = [1 if p >= 0.8 else 0 for p in pred]
cls2 = [1 if p >= 0.4 else 0 for p in pred]

In [103]:
precision1 = precision_score(test['target'], cls1)
precision2 = precision_score(test['target'], cls2)

In [104]:
precision1, precision2

(1.0, 0.9629629629629629)

In [110]:
for standard in np.arange(0.1, 1.0, 0.1) :
    cls = [1 if p >= standard else 0 for p in pred]
    precision = precision_score(test['target'], cls)
    print(f'기준이 {standard} 일 때 precision = {precision}\n')

기준이 0.1 일 때 precision = 0.8666666666666667

기준이 0.2 일 때 precision = 0.9285714285714286

기준이 0.30000000000000004 일 때 precision = 0.9629629629629629

기준이 0.4 일 때 precision = 0.9629629629629629

기준이 0.5 일 때 precision = 0.9629629629629629

기준이 0.6 일 때 precision = 0.9807692307692307

기준이 0.7000000000000001 일 때 precision = 0.98

기준이 0.8 일 때 precision = 1.0

기준이 0.9 일 때 precision = 1.0

In [111]:
from sklearn.linear_model import LinearRegression

In [112]:
lr = LinearRegression()

In [144]:
lr.fit(X, y)

LinearRegression()

In [145]:
lr.coef_

array([  1.7586171 ,   0.35962377,  -2.50701666,  14.01261854,
       113.3797464 , -80.52732752, -32.85241889,   7.67942384,
        86.35064714, -94.03007098])

In [146]:
pd.DataFrame({'features' : X.columns, 'coefficient' : lr.coef_})

                      features  coefficient
0                       Item_W     1.758617
1                     Item_MRP     0.359624
2                  Outlet_Year    -2.507017
3                         rank    14.012619
4             Outlet_Size_High   113.379746
5           Outlet_Size_Medium   -80.527328
6            Outlet_Size_Small   -32.852419
7  Outlet_Location_Type_Tier 1     7.679424
8  Outlet_Location_Type_Tier 2    86.350647
9  Outlet_Location_Type_Tier 3   -94.030071


***
## 2번 문제
### 2-1. age 변수에 대해 정규화를 실시하고 0.3 미만의 값을 가지는 데이터의 수를 출력하시오.

In [147]:
train = pd.read_csv('ins_reg_train.csv')
test = pd.read_csv('ins_reg_test.csv')

In [148]:
train.head()

   age     sex     bmi  children smoker     region      charges
0   51  female  36.385         3     no  northwest  11436.73815
1   52  female  30.780         1     no  northeast  10797.33620
2   27  female  34.800         1     no  southwest   3577.99900
3   58  female  41.910         0     no  southeast  24227.33724
4   44  female  43.890         2    yes  southeast  46200.98510

In [149]:
from sklearn.preprocessing import MinMaxScaler

In [151]:
scaler = MinMaxScaler()

In [152]:
train['scaled_age'] = scaler.fit_transform(train[['age']])

In [155]:
train[train.scaled_age < 0.3].shape[0]

350

### 2-2. 30대 여성과 남성의 흡연 비율 차이의 절댓값을 출력하시오.

#### 방식1

In [157]:
age30 = train[train.age.isin(np.arange(30, 40))]

In [159]:
age30.age.min(), age30.age.max()

(30, 39)

In [161]:
age30_f = age30[age30['sex'] == 'female']
age30_m = age30[age30['sex'] == 'male']

In [163]:
age30_f.head()

    age     sex     bmi  children smoker     region      charges  scaled_age
9    30  female  28.405         1     no  northwest   4527.18295    0.260870
17   30  female  23.655         3    yes  northwest  18765.87545    0.260870
27   32  female  44.220         0     no  southeast   3994.17780    0.304348
34   39  female  18.300         5    yes  southwest  19023.26000    0.456522
42   36  female  22.600         2    yes  southwest  18608.26200    0.391304

In [164]:
age30_m.head()

    age   sex    bmi  children smoker     region     charges  scaled_age
14   31  male  20.40         0     no  southwest   3260.1990    0.282609
28   37  male  37.07         1    yes  southeast  39871.7043    0.413043
40   33  male  42.40         5     no  southwest   6666.2430    0.326087
43   33  male  35.75         2     no  southeast   4889.9995    0.326087
55   31  male  39.49         1     no  southeast   3875.7341    0.282609

In [165]:
age30_f_y = age30_f[age30_f.smoker == 'yes']
age30_m_y = age30_m[age30_m.smoker == 'yes']

In [170]:
f = age30_f_y.shape[0] / age30_f.shape[0]

In [171]:
m = age30_m_y.shape[0] / age30_m.shape[0]

In [181]:
f, m

(0.1511627906976744, 0.26)

In [172]:
abs(f - m)

0.1088372093023256

In [175]:
pd.Series([0,1,1,0,1])

0    0
1    1
2    1
3    0
4    1
dtype: int64

In [176]:
3/5

0.6

#### 방식2 - 잔머리 & 잔꾀

In [173]:
age34 = train[train.age.isin(range(30, 40))]

In [177]:
age34['smoker'] = [1 if s == 'yes' else 0 for s in age34['smoker']]

<ipython-input-177-49a6fa567427>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age34['smoker'] = [1 if s == 'yes' else 0 for s in age34['smoker']]

In [178]:
age34

     age     sex     bmi  children  smoker     region      charges  scaled_age
9     30  female  28.405         1       0  northwest   4527.18295    0.260870
14    31    male  20.400         0       0  southwest   3260.19900    0.282609
17    30  female  23.655         3       1  northwest  18765.87545    0.260870
27    32  female  44.220         0       0  southeast   3994.17780    0.304348
28    37    male  37.070         1       1  southeast  39871.70430    0.413043
..   ...     ...     ...       ...     ...        ...          ...         ...
975   32    male  28.120         4       1  northwest  21472.47880    0.304348
976   30  female  27.930         0       0  northeast   4137.52270    0.260870
989   32    male  30.800         3       0  southwest   5253.52400    0.304348
993   35    male  30.500         1       0  southwest   4751.07000    0.369565
994   37  female  29.500         2       0  southwest   6311.95200    0.413043

[186 rows x 8 columns]

In [179]:
result = age34.groupby('sex').smoker.agg(lambda x : sum(x) / np.size(x))

In [180]:
result

sex
female    0.151163
male      0.260000
Name: smoker, dtype: float64

In [154]:
abs(result['female'] - result['male'])

0.1088372093023256

### 2-3. charges를 예측하는 모델링을 수행하시오. RMSE를 기준으로 진행하고 test데이터를 활용하여 예측값을 도출하고 submission 형태로 제출하시오. 이 때 파일명은 result2로 저장하시오.
- 최소 2개 이상의 모델을 사용할 것.

In [156]:
train['sex'] = [1 if s == 'male' else 0 for s in train['sex']]
test['sex'] = [1 if s == 'male' else 0 for s in test['sex']]

In [160]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [162]:
X = train.drop('charges', axis = 1)
y = train.charges

In [163]:
target = test[X.columns]

In [165]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 42)

In [166]:
rf_pred = np.zeros(target.shape[0])
lgbm_pred = np.zeros(target.shape[0])

In [167]:
from lightgbm import LGBMRegressor

In [170]:
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf = RandomForestRegressor(random_state = 42, max_depth = 4, n_estimators = 150)
    rf.fit(tr_x, tr_y)
    val_pred = rf.predict(val_x)
    rmse = np.sqrt(mean_squared_error(val_y, val_pred))
    print(rmse)
    
    fold_pred = rf.predict(target) / 5
    rf_pred += fold_pred

4704.841965335814
4820.318343896122
4373.8981048114365
4551.632110683173
4352.187911952853

In [169]:
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm = LGBMRegressor(random_state = 42, max_depth = 4, n_estimators = 200, learning_rate = 0.1)
    lgbm.fit(tr_x, tr_y)
    val_pred = lgbm.predict(val_x)
    rmse = np.sqrt(mean_squared_error(val_y, val_pred))
    print(rmse)
    
    fold_pred = lgbm.predict(target) / 5
    lgbm_pred += fold_pred

4920.586508890116
5076.570906884028
4515.07016410461
4944.1440745276805
4484.386041921746

In [171]:
submission = pd.read_csv('ins_reg_submission.csv')

In [173]:
submission.charges = (lgbm_pred + rf_pred) / 2

In [174]:
submission.head()

   index       charges
0      0   6444.590619
1      1   7522.664653
2      2   3298.277076
3      3  44871.389077
4      4  46122.520532

In [180]:
#submission.to_csv('result2.csv', index = False)

***
## 3번 문제
### 3-1. 현재 직장에서 3년(1095일) 미만으로 일한 고객의 income_total의 중위값을 출력하시오.

In [274]:
train = pd.read_csv('credit_train.csv')
test = pd.read_csv('credit_test.csv')

In [275]:
train.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,M,Y,Y,4,157500.0,Working,Higher education,Married,House / apartment,-11380,-1734,1,0,0,0,Managers,6.0,-37.0,0.0
1,F,N,Y,0,225000.0,Working,Higher education,Widow,House / apartment,-21450,-13245,1,0,0,0,Core staff,1.0,-60.0,1.0
2,F,N,Y,0,225000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-17840,-1807,1,0,0,0,Core staff,1.0,-22.0,1.0
3,M,N,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-19511,-3503,1,0,0,0,Drivers,2.0,-60.0,0.0
4,M,N,N,0,225000.0,Commercial associate,Higher education,Married,With parents,-13021,-5082,1,1,0,0,Managers,2.0,-38.0,1.0

In [276]:
train['DAYS_EMPLOYED'] = np.abs(train['DAYS_EMPLOYED'])

In [277]:
train[train.DAYS_EMPLOYED < 1095].income_total.median()

157500.0

### 3-2. income_total에 대해 표준화를 실시하고 0.3 미만의 값을 가지는 데이터 중 credit이 1인 데이터의 비율을 구하시오.

In [262]:
from sklearn.preprocessing import StandardScaler

In [263]:
scaler = StandardScaler()

In [264]:
train['scaled_it'] = scaler.fit_transform(train[['income_total']])

#### 방식1

In [265]:
df = train[train.scaled_it < 0.3]

In [266]:
df[df.credit == 1].shape[0] / df.shape[0]

0.48815253609774156

#### 방식2

In [267]:
df.credit.value_counts()

0.0    2765
1.0    2637
Name: credit, dtype: int64

In [268]:
df.credit.value_counts()[1] / df.credit.value_counts().sum()

0.48815253609774156

### 3-3. credit을 예측하는 모델링을 수행하시오.  ROC_AUC_SCORE를 평가지표로 사용하고 submission의 credit을 확률 값으로 제출하고 이 때 파일명을 result3으로 저장하시오.

In [291]:
%%time
#train.drop('scaled_it', axis = 1, inplace = True)

train['gender'] = [1 if g == 'M' else 0 for g in train['gender']]
test['gender'] = [1 if g == 'M' else 0 for g in test['gender']]

train['car'] = [1 if c == 'Y' else 0 for c in train['car']]
test['car'] = [1 if c == 'Y' else 0 for c in test['car']]

train['reality'] = [1 if r == 'Y' else 0 for r in train['reality']]
test['reality'] = [1 if r == 'Y' else 0 for r in test['reality']]

train['DAYS_EMPLOYED'] = np.abs(train['DAYS_EMPLOYED'])
test['DAYS_EMPLOYED'] = np.abs(test['DAYS_EMPLOYED'])

train['DAYS_BIRTH'] = np.abs(train['DAYS_BIRTH'])
test['DAYS_BIRTH'] = np.abs(test['DAYS_BIRTH'])

train['begin_month'] = np.abs(train['begin_month'])
test['begin_month'] = np.abs(test['begin_month'])

obj_cols = train.columns[train.dtypes == object]

train.drop(obj_cols, axis = 1, inplace = True)

X = train.drop('credit', axis = 1)
y = train.credit

target = test[X.columns]

from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
import numpy as np

skf = StratifiedKFold(n_splits = 5, random_state = 42)

lr_pred = np.zeros(target.shape[0])
lgbm_pred = np.zeros(target.shape[0])
xgb_pred = np.zeros(target.shape[0])

lr_score = 0
lgbm_score = 0
xgb_score = 0

for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lr_clf = LogisticRegression()
    lr_clf.fit(tr_x, tr_y)
    
    val_pred = lr_clf.predict_proba(val_x)[:, 1]
    val_score = roc_auc_score(val_y, val_pred) / 5
    lr_score += val_score
    
    fold_pred = lr_clf.predict_proba(target)[:, 1] / 5
    lr_pred += fold_pred
    
print(f'{lr_clf.__class__.__name__}의 평균 roc_auc = {lr_score}')


for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm = LGBMClassifier(random_state = 42)
    lgbm.fit(tr_x, tr_y)
    
    val_pred = lgbm.predict_proba(val_x)[:, 1]
    val_score = roc_auc_score(val_y, val_pred) / 5
    lgbm_score += val_score
    
    fold_pred = lgbm.predict_proba(target)[:, 1] / 5
    lgbm_pred += fold_pred
print(f'{lgbm.__class__.__name__}의 평균 roc_auc = {lgbm_score}')


for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb = XGBClassifier(random_state = 42)
    xgb.fit(tr_x, tr_y)
    
    val_pred = xgb.predict_proba(val_x)[:, 1]
    val_score = roc_auc_score(val_y, val_pred) / 5
    xgb_score += val_score
    
    fold_pred = xgb.predict_proba(target)[:, 1] / 5
    xgb_pred += fold_pred
print(f'{xgb.__class__.__name__}의 평균 roc_auc = {xgb_score}')

submission = pd.read_csv("credit_submission.csv")
submission['credit'] = (lr_pred + lgbm_pred + xgb_pred) / 3
submission.head()
submission.to_csv('result3.csv', index = False)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

LogisticRegression의 평균 roc_auc = 0.59992546875
LGBMClassifier의 평균 roc_auc = 0.7055721875000001
[22:56:52] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:56:52] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:56:53] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:56:53] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:56:53] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier의 평균 roc_auc = 0.7296009375
CPU times: user 15.4 s, sys: 3.76 s, total: 19.1 s
Wall time: 3.03 s