# 빅데이터 분석 기사 실기 스터디 1주차 과제

***

## Pandas 예제(21개)

### 1 ~ 15 -> 백화점 거래 데이터

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train_transactions.csv', encoding='cp949')

### 1. 데이터의 크기(행, 열의 수)를 출력하시오.

### 2. 데이터의 변수별 자료 형태(type)를 출력하시오.

### 3. 데이터에 결측치가 존재하는지 확인하는 방법 두 가지를 사용하시오.

### 4. 데이터를 tot_amt 변수는 내림차순으로 sales_time은 오름차순으로 정렬하시오.

### 5. 데이터에 corner_nm에서 "국내"라는 문자열이 포함되어 있는지에 대해 True/False를 반환하는 '국내제품' 변수와 "수입"이라는 문자열이 포함되어 있는지에 대해 True/False를 반환하는 '수입제품' 변수를 각각 생성하고 데이터 10개행만 출력하시오./

### 6. "수입제품" 변수를 삭제하고 데이터의 컬럼만 출력하시오.

### 7. 컬럼명 바꾸기 - str_nm을 "지점명"으로 brd_nm을 "브랜드명"으로 변경하시오.

### 8. goodcd를 기준으로 마지막 행을 남기는 중복값 제거를 하고 tot_amt의 중위값을 출력하시오.

### 9. sales_date를 기준으로 마지막 행을 남기는 중복값 제거를 한 후 sales_tim의 분산을 출력하시오.

### 10. 신촌점의 가구(pc_nm 컬럼) 최대 매출(tot_amt 컬럼)과 본점의 가구 최대 매출을 비교하시오.

### 11. 데이터의 sales_date를 날짜형으로 바꾸고 이를 "날짜" 변수로 지정하시오.

### 12. 고객(custid)를 기준으로 가장 많은 구매를 한 고객 10명의 custid를 출력하시오.

### 13. 월별 평균 매출액(tot_amt)를 출력하시오.

### 14. sales_time(구매시간)을 활용하여 시간별(분 제외) 거래 횟수를 구하시오.

### 15. 브랜드별로 가장 다양한 고객이 구매한 내역이 있는 브랜드 상위 5개를 출력하시오.

***
### 16 ~ 21 -> 영화 정보 데이터

- title : 제목
- distributor : 배급사
- genre : 장르
- release_time : 개봉일
- time : 상영시간
- screening_rat : 상영등급
- director : 감독
- dir_prev_bfnum : 이전 영화 관객수
- dir_prev_num : 이전 제작 영화 수
- num_staff : 투입 스태프 수
- num_actor : 출연 배우 수
- box_off_num : 관객 수

In [20]:
data = pd.read_csv("movies_train.csv")

### 16. 결측치가 존재하는 컬럼을 0, 평균, 중위값으로 채우고 해당 컬럼의 표준편차를 각각 출력하시오.

### 17. 감독별로 평균 관객수를 구하고 11번째부터 20번째 순위의 감독을 출력하시오.

### 18. 개봉 월을 뜻하는 "개봉월" 변수를 만들고 6월과 12월에 개봉한 영화 수를 출력하시오.

### 19. CJ와 롯데에서 제작한 영화에 참여한 감독의 수를 출력하시오.

### 20. 관객수에서 최소관객수를 뺀 변수 "관객최소삭감" 변수를 생성하시오.

### 21. 개봉월과 장르별로 관객수의 최댓값을 출력하고 데이터프레임으로 변경하시오.