# 빅데이터 분석 기사 실기 스터디 1주차 과제

***

## Pandas + Preprocessing 예제(10개)

- 출력 결과 형태는 답안예시와 달라도 무방합니다. 문제에서 요구한 값들만 출력되면 됩니다.

#### Data : 축구 선수 정보 데이터

In [8]:
import pandas as pd
import numpy as np

In [71]:
data = pd.read_csv("FIFA_train.csv")

### 1. age, value의 왜도를 각각 구하시오.

age      0.356824
value    5.885798
dtype: float64

### 2. 연속형 변수들에 대해 각 변수들의 1사분위수, 3사분위수를 출력하시오.

id의 1사분위수 : 3751.75, 3사분위수 : 12082.25
age의 1사분위수 : 21.0, 3사분위수 : 28.0
reputation의 1사분위수 : 1.0, 3사분위수 : 1.0
stat_overall의 1사분위수 : 63.0, 3사분위수 : 72.0
stat_potential의 1사분위수 : 68.0, 3사분위수 : 76.0
stat_skill_moves의 1사분위수 : 2.0, 3사분위수 : 3.0
value의 1사분위수 : 375000.0, 3사분위수 : 2600000.0

### 3. 각 포지션 별로 이적료(value)가 가장 높은 선수 3명을 출력하시오.

   position  level_1        value
0        DF       24   57000000.0
1        DF        3   51000000.0
2        DF       25   51000000.0
3        GK        1   72000000.0
4        GK        4   68000000.0
5        GK        8   58000000.0
6        MF       14   69500000.0
7        MF       26   64000000.0
8        MF        7   63000000.0
9        ST        0  110500000.0
10       ST        2   80000000.0
11       ST       17   73500000.0

### 4. stat_overall에 대해 표준화를 진행하시오.

- 1. sklaern 활용
- 2. 수식 활용

array([[ 3.9257078 ],
       [ 3.48804079],
       [ 3.48804079],
       ...,
       [-2.93107538],
       [-2.93107538],
       [-2.93107538]])

0       3.925488
1       3.487846
2       3.487846
3       3.487846
4       3.341965
          ...
8927   -2.785030
8928   -2.930911
8929   -2.930911
8930   -2.930911
8931   -2.930911
Name: 표준화, Length: 8932, dtype: float64

### 5. age에 대해 정규화를 진행하시오.

- 1. sklearn 활용
- 2. 수식 활용

array([[0.625     ],
       [0.45833333],
       [0.625     ],
       ...,
       [0.08333333],
       [0.08333333],
       [0.125     ]])

0       0.625000
1       0.458333
2       0.625000
3       0.666667
4       0.375000
          ...
8927    0.083333
8928    0.125000
8929    0.083333
8930    0.083333
8931    0.125000
Name: 정규화, Length: 8932, dtype: float64

### 6. 유럽 소속 선수 중 value를 정규화 하여 0.5 보다 큰 값을 가지는 선수의 수를 구하시오.

18

### 7. value를 기준으로 이상치를 검출하고 이상치를 제거한 데이터의 포지션별 선수의 수를 출력하시오.

MF    2891
DF    2484
ST    1452
GK     927
Name: position, dtype: int64

### 8. age, stat_overall 각 변수에 대해 이상치 개수를 출력하시오.

19

61

### 9. 10대, 20대, 30대, 40대 선수들을 각각 따로 데이터를 구성하고 각 연령대(4개 구간)에 대해 value의 왜도를 출력하시오.
- 10대 : 20세 미만
- 20대 : 20세 이상 30세 미만
- 30대 : 30세 이상 40세 미만
- 40대 : 40세 이상

10대 선수들 value 왜도 = 8.440166147833173
20대 선수들 value 왜도 = 5.092657558372404
30대 선수들 value 왜도 = 7.488561019823759
40대 선수들 value 왜도 = 1.7112131659323588

### 10. 각 대륙별로 value의 왜도와 표준편차를 구하시오.

                     왜도          표준편차
continent
africa         6.192343  5.843619e+06
asia           3.944000  1.934162e+06
europe         5.083833  6.054414e+06
oceania        4.041870  1.376729e+06
south america  6.793150  6.374981e+06